
/*This is for the footer to sit right*/
html{
    position: relative;
    min-height: 100%;
}

/* Navbar */

.navbar{
    background-color: #ffff;
    border-bottom: 2px solid #cccccc;
}

#nameheader{
    background-color: #4aaaa5;
    color: #ffff;
    font-size: 28px;
    padding: 20px 30px 10px 20px; 
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute; 
    top: 0;
}

#navspacer{
width:70%
}

#navbarNav{
margin-top: 18px;
background-color: white;
padding-left: 10px;
border-radius: 1%;
}

/* Body */

body{
    background-image: url(./assets/leaves-pattern.png);
    margin-bottom: 60px;
}

.bodybox{
    background-color: #ffff;
    margin-bottom: 30px;
    margin-top: 10px;
}

h1{
    padding: 25px 15px 25px 0px; 
    border-bottom:  3px solid #cccccc;
    margin: 0px 10px 0 10px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*About me page - index.html */
#cardimg{
margin-top: 10px

}

#imgme{
    width: 200px;
    height: auto;
}

/* Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #ffff; 
    background-color: #666666;
    border-top:  3px solid #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 12px;

}

/* Portfolio page */

.portfoliorow{
    margin: 10px;
}

.portfoliocard{
    border: none;
    margin: 10px;
}

h5{
    color:#ffff;
    left: 0;
    position: absolute;
    bottom: 37px;
    width: 100%;
    border: none;
    border-radius: 0;
}

.portfoliotitles{
    background-color:#4aaaa5;
}

/* Contact Page*/

form{
    margin-top: 10px;
}

#submitbutton{
    background-color: #4aaaa5;
    border:none;
    border-radius: 0;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}