
/* Navbar */
.navbar{
    background-color: #ffff;
    border-bottom: 2px solid #cccccc;
    height: 68px;
    margin-bottom: 30px;
}

#nameheader{
    background-color: #4aaaa5;
    color: #ffff;
    font-size: 28px;
    padding: 20px 30px 10px 20px; 
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute; 
    bottom: 0
}

/* Body - About Me */

body{
    background-image: url(./assets/leaves-pattern.png);
}

#AboutMeBox{
    background-color: #ffff;
            margin-bottom: 30px;
}

h1{
    padding: 25px 15px 25px 0px; 
    border-bottom:  3px solid #cccccc;
    margin: 0px 10px 0 10px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}